[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0008: Use explicit type
csharp_style_var_elsewhere = false

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
